.about-img{
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.about-b1{
    position: relative;
}
.about-icon{
    width: 50px;
    position:absolute;
    color: blue;
    top: 45%;
    left: 45%;   
    cursor: pointer;
}
.abt-txt1{
    color: #212ea0;

}