.prog-img1{
    background-position: center;
    width: 100%;
    border-radius: 10px;
}
.prog-b1{
    position: relative;
    overflow: hidden;
}
.caption{
    position: absolute;
    width: 94.5%;
    height: 100%;
    top: 100%;
    border-radius: 10px;
    background: rgba(0, 15, 152, 0.3);
    cursor: pointer;
    transition: .5s all;
}
.caption img{
    width: 60px;
    margin-left: 44%;
    margin-top: 33%;
}
.caption p{
    margin-left: 34%;
    margin-top: 3px;
    color: white;
}
.prog-b1:hover .caption{
    top: 0;
}